


<div class="form-wrap">
  <form #f="ngForm" (ngSubmit)="register(f)" >

    <h1 style="text-align: center">Footballhippie Registration Form</h1>
        <input type="text"  name="username" placeholder="Your Username.." ngModel>
        <input type="password" name="password" placeholder="Your Password.." ngModel>
        <input type="text"  name="firstname" placeholder="Your First Name.." ngModel>
        <input type="text"  name="lastname" placeholder="Your Last Name.." ngModel>
        <input type="email"  name="email" placeholder="Your Email.." ngModel>

        <button type="submit" class="btn btn-primary">Submit </button>
        </form>
        
</div>









      
  
  
